body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




.sidebar_container {
  position: fixed;
  width: 0;
  height: 100%;
  background: rgba(175, 160, 160, 0.3);
  z-index: 100000;
  top: 0;
}
.sidebar,
.clear_sidebar {
  position: absolute;
  width: 0vw;
  height: 100%;
}
.sidebar {
    overflow-y: auto;

  background-color: #252525;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s width linear;
}
.clear_sidebar {
  left: 0;
}

  .open {
    display: block;
  }
  .sidebar_open {
    width: 100vw;
  }
  .sidebar_open > .sidebar {
    width: 45%;
  }
  .sidebar_open > .clear_sidebar {
    width: 48vw;
  }
.sidebar_header{
  color: gold;
  transform: translateY(-50px) !important;
}
.sidebar_item{
  width: 100%;
  height: 75px;
  margin-top: 50px;
  background-color:rgba(175, 160, 160, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.coin_img{
 width: 60px;
 height: 60px;
border-radius: 50%;
background-color: rgb(252, 114, 64);
}

@media only screen and (max-width: 760px) {
  .sidebar_open {
    width: 100vw;
  }
  .sidebar_open > .sidebar {
    width: 68%;
  }
  .sidebar_open > .clear_sidebar {
    width: 48vw;
  }

}